MONGODB_URI=mongodb+srv://sebastianherreraface_db_user:wRPr7aLHPiY1fiS3@cluster0.ywr9y4m.mongodb.net/hera?appName=Cluster0

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

MP_ACCESS_TOKEN=

EMAIL_USER=
EMAIL_PASS=
NOTIFY_EMAIL=

ADMIN_PASSWORD=hera2024

SITE_URL=http://localhost:3000